<div class="card-product">
  <%= image_tag "https://loremflickr.com/320/240/#{restaurant.category}" %>
  <div class="card-product-info">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
  </div>
  <%= link_to '', restaurant_path(restaurant), class: 'card-link' %>
</div>
